*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: thistle;
}
h1{
    font-size: 70px;
    text-align: center;
}
.acc{
    width: 70%;
}
.title, .content{
    display: flex;
}
.plus{
    margin-left: 20%;
}
